@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,500;1,12..72,500&display=swap');
body{
    background-color: rgba(200, 255, 180, 1);
    margin: 0;
    padding: 0;
    font-family: 'Passero One';
}
.text-2{
    font-family: "Texturina", serif;
}
.alto{
    height: 100vh;
}
.blanco{
    color: white;
}
.container-xxl img{
    width: 100%;
}
.container-fluid{
    padding:0;
}
.verde-oscuro{
    background-color: rgba(116, 164, 99, 1);
}
